* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

.list-manager {
    max-width: 600px;
}

.list-item {
    display: flex;
}

.list-item input {
    padding: 0 5px;
}

.list-item__btn {
    width: 25px;
    padding: 3px;
}

.list-manager__controls button {
    padding: 2px;
    display: block;
}

.list-manager__output {
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 2px;
}